.mars_steg/
myenv
wandb/
artifacts/
experiment/
experiments/models/
*.pyc
mars_steg/__pycache__/
.vscode/
mars_steg/language/__pycache__/
mars_steg/language/language_aspects/__pycache__/
mars_steg/model/__pycache__/
mars_steg/task/__pycache__/
mars_steg/task/tasks/__pycache__/
mars_steg/utils/__pycache__/
__pycache__/
scratch/
mars_steg/scratch
mars_steg.egg-info/
*Zone.Identifier*